extends ../layout.pug
block contenido

  #page-wrapper
    .row
      .col-lg-12
        h3.page-header Asignacion y bajas de productos basicos
    .row
      .col-lg-12
        .panel.panel-primary
          .panel-heading
            | Eleccion
          .panel-body
            h4
              | Asignacion de basico
            
            form(style="display:inline", action="/basicos?_method=PUT",method="POST",role='form')
              .form-group
                h5  Producto:
                select.form-control.selectpicker(name="producto", data-live-search="true")
                  for producto in productos
                    option(name="1") #{producto.nombre}
              .form-group
                h5  Tecnica:
                select.form-control.selectpicker(name="tecnica", data-live-search="true")
                  for tecnica in tecnicas
                    option(name="1") #{tecnica.nombre}      
              button(type="submit/image" alt="text" class="btn btn-primary btn-circle")
                i.fa.fa-plus(title="Agregar")
                  
            h4
              | Baja de basico
            
            form(style="display:inline", action="/basicos?_method=DELETE",method="POST",role='form')
              .form-group
                h5  Producto:
                select.form-control.selectpicker(name="producto", data-live-search="true")
                  for producto in productos
                    option(name="1") #{producto.nombre}
              .form-group
                h5  Tecnica:
                select.form-control.selectpicker(name="tecnica", data-live-search="true")
                  for tecnica in tecnicas
                    option(name="1") #{tecnica.nombre}      
              button(type="submit/image" alt="text" class="btn btn-danger btn-circle")
                i.fa.fa-minus(title="Pasar a consumo")
  // jQuery
  script(src='/src/vendor/jquery/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/src/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/src/vendor/metisMenu/metisMenu.min.js')
  // Custom Theme JavaScript
  script(src='/src/dist/js/sb-admin-2.js')
  script(src='/src/dist/js/bootstrap-select.min.js')                  
