extends ../layout.pug
block contenido
  #page-wrapper
    .row
      .col-lg-12
        h3.page-header Registrar productos con excel
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Ejemplo de tabla para excel
          // /.panel-heading
          .panel-body
            .table-responsive
              table.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th Nombre
                    th Descripcion
                    th Categoria
                    th Codigo
                    th Minimo
                    th Basico
                tbody
                  tr
                    td Foundation
                    td 15 ml
                    td Gelish
                    td 200032
                    td 50
                    td No
                  tr
                    td Passion
                    td 15 ml
                    td Gelish
                    td 1213
                    td 75
                    td Si
                  tr
                    td Cleanser Shampoo
                    td 300 ml
                    td Nioxin
                    td 301
                    td 25
                    td No
    .row
      .panel.panel-default
        .panel-heading
          | Ejemplo de tabla para excel
        // /.panel-heading
        .panel-body
          .table-responsive
            table#table.table.table-striped.table-bordered.table-hover
              thead
                tr
                  th(width='8', scope='col')  
                  th(width='131', scope='col') Roba/Usluga
                  th(width='144', scope='col') Jmj
                  th(width='144', scope='col') Qty
                  th(width='144', scope='col') Price
                  th(width='144', scope='col') Rabat
                  th(width='81', scope='col')  
              tbody
                tr
                  td
                  td
                    select#sif_roba1(name='sif_roba1')
                      option(value='') Please select
                      option(value='1') David Hasselhoff
                      option(value='2') Michael Jackson
                      option(value='3') Tina Turner
                  td
                    select#idjmj1(name='idjmj1')
                      option(value='') Please select
                      option(value='1') David Hasselhoff
                      option(value='2') Michael Jackson
                      option(value='3') Tina Turner
                  td
                    input#cijena1(name='cijena1')
                  td
                    input#track1(name='track1')
                  td
                    input#rabat1(name='rabat1')
            button.add(type='button', onclick='clickMe();') Add
  script(src='/src/dist/js/addRow.js')                     
  // jQuery
  script(src='/src/vendor/jquery/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/src/vendor/bootstrap/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/src/vendor/metisMenu/metisMenu.min.js')
  // Custom Theme JavaScript
  script(src='/src/dist/js/sb-admin-2.js')
